form{
    background-color: #dbe8e89a;
    padding: 12px 0;
    border-radius: 20px;
}

textarea{
    background-color: #dbe8e8 !important;
}

.form-footer{
    text-align: end;
    font-size: 20px;
}
