/*body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/Image/Image/Ticket\ .png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    height: 500px;
    background-image: url('/Image/Image/Ticket\ .png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.registration-ticket {
    display: flex;
    border-radius: 0;
    box-shadow: none;
    border: none;
    overflow: hidden;
    width: 1000px;
    height: 400px;
}

.left-section {
    padding: 20px;
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -90px;
}

.photo-upload {
    margin: 0 auto;
}

.photo-icon {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #87b7d6;
}

.photo-icon::before {
    content: '\1F4F7'; /* 相機符號 */
    font-size: 48px;
    color: #87b7d6;
}

.upload-btn {
    background-color: #87b7d6;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.upload-btn:hover {
    background-color: #6aa1bf;
}

.right-section {
    padding: 10px 40px 40px;
    width: 60%;
    margin-left: 120px;
    margin-top: -5px;
}

.register-title {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: #2a3d53;
    text-align: center;
    margin-top: -10px;
    margin-right: -90px;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-right: 0;
}

form{
    margin-top: 10px;
}

label {
    font-size: 20px;
    flex: 0 0 120px;
    font-weight: bold;
    color: #333;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: #87b7d6;
    outline: none;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.register-btn {
    background-color: #87b7d6;
    margin-left: 90px;
}

.back-btn {
    background-color: #cccccc;
    margin-left: 90px;
}

.register-btn:hover {
    background-color: #6aa1bf;
}

.back-btn:hover {
    background-color: #b3b3b3;
}

.icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}
