.home-title{
    color: #202f5a;
    font-size: 2.5rem;    
    font-weight: 600 ;
    margin-bottom: 10px;
    margin-left: 50px;
}

.user-name{
    color: #5f8e99;
    padding: 0 15px;
}

/* 左邊 */
.entrance-part{
    padding: 0 60px 0 40px;
}

.entrance-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.l{
    display: flex;
    justify-content: flex-start;
}

.r{
    display: flex;
    justify-content: flex-end;
}

.entrance{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #bdd4d4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.entrance:hover{
    height: 210px;
    width: 210px;
    cursor: pointer;
}

.entrance-pic{
    position: absolute;
    width: 150px;
}

.entrance-title{
    position: absolute;
    bottom: 12px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

/* 右邊 */
.newImformation-container{
    background-color: #dbe8e8;
    height: 550px;
    border-radius: 20px;
    padding-top: 15px;
    position: relative ;
}

.info-title{
    margin: 0 10px;
    background-color: #5f8e99;
    padding: 10px 0;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.info{
    margin: 10px;
    background-color: #ffffff;
    padding: 10px 0;
    border-radius: 20px;
    border: solid 1px rgb(172, 172, 172);
    color: #202f5a;
    font-weight: 600;
    font-size: 1.2rem;
}   

.info-content{
    margin-left: 10px;
}

.post-time{
    text-align: end;
    margin-right: 10px;
}

.see-more{  
    position: relative;
    top: 225px;
    margin-right: 20px;
    text-align: end;
    font-size: 1.2rem;
    color: #202f5a;
    font-weight: 600;
}

.see-more a{
    color: #202f5a;
}