.unit-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.bg {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    background-color: #ececec;
    position: relative; 
    display: flex;
    justify-content: center;
}

.dot {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.green{
    background-color: #7ed957;
}

.yellow{
    background-color: #ffce38;
}

.red{
    background-color: #f20028;
}

.organ{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    position: absolute;
    top: 10px
}

.score{
    position: absolute;
    bottom: 10px;
    font-size: 28px;
    font-weight: bold;
}